.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-container__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.page-container__section__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-container__section__item.animPic.artist {
  position: relative;
  border-radius: 10px;
}

.page-container__section__item.animPic.artist img {
  max-width: 90%;
  width: 150%; 
  height: auto; 
  object-fit: cover; 
  transition: transform 0.3s ease, opacity 0.3s ease; 
  margin-top: 10%;
}

.page-container__section__item.animPic.artist img:hover {
  transform: translateY(-10px); 
  opacity: 0.8;
  border-radius: 10px;
}

.page-container__section__item img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.page-container__section__item:hover .art-caption {
  opacity: 1;
  transform: translateY(0); 
  border-radius: 10px;
}

.louisDazy-image {
  max-width: 25%; 
  height: auto;
  display: block;
  margin: 0 auto;
}

.photographer {
  font-family: "Orbitron", sans-serif;
  font-size: 1.8em;
  color: black;
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
}

.louisDazyPresentation {
  font-family: "Futura Condensed", sans-serif;
  font-size: 1em;
  color: black;
  text-align: justify;
}

.art-caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  font-size: 1.2em;
  color: black;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 768px) {
  .page-container__section {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .louisDazy-image {
    max-width: 80%;
  }

  .art-caption {
    font-size: 1em;
  }
}