.page-container.exhibition {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.presentationText.exhibition,
.presentationEnd.exhibition,
.recentEventText {
    text-align: justify;
    padding: 0 5%;
    box-sizing: border-box;
    margin-top: 1%;
}

.recentEventText {
    border: 3px solid black;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    padding: 55px;
    box-shadow: inset 5em 1em gold;
    line-height: 160%;
    font-size: 0.5em;
}

.download-button {
    display: inline-block;
    padding: 10px 10px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-left: 20%;
}

.download-button:hover {
    background-color: black;
    color: white;
    transform: translateY(-5px);
}

.page-container__section.exhibition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
}

.page-container__section__item.exhibition {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}

.page-container__section__item.exhibition img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.animPic.exhibition img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20%;
}

/* .animPic.exhibition img:hover {
    transform: translateY(-10px);
    opacity: 0.8;
} */

.animPic.exhibition.first-slice img {
    width: 500px;
    height: auto;
    margin: 0 10px;
    margin-left: 15%;
    margin-top: 3%;

}

.animPic.exhibition.last-slice img {
    width: 500px;
    height: auto;
    margin: 0 10px;
    margin-right: 40%;
    margin-top: 3%;
}

.animPic.exhibition.right-slice img {
    margin-right: 30%;
    margin-top: 3%;
    width: 1100px;
    height: auto;
}

.exhibitionSliderGallery {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 1em 0;
}

.exhibitionSliderGallery-wrapper {
    display: flex;
    animation: scroll 60s linear infinite;
}

.exhibitionSlide img {
    flex-shrink: 0;
    width: 500px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
    object-fit: contain;
}

/* .exhibitionSlide:hover img {
    transform: translateY(-10px);
    opacity: 0.8;
    border-radius: 10px;
} */

.CollabTitle {
    margin-right: 5%;
    font-size: 1.2em;
    font-weight: bold;
}

.CollabTitleRecentEvent {
    font-size: 1.5em;
    font-weight: bold;
}

.art-caption.exhibition {
    position: absolute;
    bottom: 20px;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    max-width: 100%;
    text-align: center;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    font-size: 0.5em
}

.first-slice .art-caption.exhibition {
    bottom: 15%;
    text-align: center;
    left: 65%;
}

.last-slice .art-caption.exhibition {
    bottom: 40%;
    text-align: center;
    left: 25%
}


.animPic:hover .art-caption.exhibition {
    opacity: 1;
}

@media (max-width: 1200px) {

    .CollabTitle,
    .CollabTitleRecentEvent {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .page-container__section.exhibition {
        flex-direction: column;
    }

    .presentationText.exhibition,
    .presentationEnd.exhibition,
    .recentEventText {
        font-size: 0.5em;
        padding: 0 3%;
    }

    .CollabTitle,
    .CollabTitleRecentEvent {
        font-size: 1em;
    }

    .animPic.exhibition.right-slice img {
        max-width: 100%;
        margin-left: 35%;
    
    }

    .animPic.exhibition.first-slice img {
        max-width: 90%;
        margin-left: 5%;
    }

    .animPic.exhibition.last-slice img {
        max-width: 70%;
    }

    .recentEventText {
        border: 2px solid black;
        background-color: transparent;
        color: black;
        border-radius: 10px;
        padding: 15px;
        box-shadow: inset 5em 1em gold;
        line-height: 160%;
        font-size: 0.4em;
    }

    .art-caption.exhibition {
        position: static;
        transform: none;
        opacity: 1;
        background-color: transparent;
        color: black;
        padding: 10px 0;
        white-space: normal;
        text-align: center;
        word-wrap: break-word;
        overflow: visible;
        margin-top: 10px;
    }

}

@media (max-width: 480px) {
    .page-container__section.exhibition {
        flex-direction: column;
    }

    .presentationText.exhibition,
    .recentEventText {
        font-size: 0.5em;
        padding: 0 3%;
    }

    .presentationEnd.exhibition {
        font-size: 0.5em;
        padding-bottom: 50%;
    }

    .CollabTitle {
        font-size: 1em;
    }

    .CollabTitleRecentEvent {
        font-size: 1em
    }

    .animPic.exhibition.right-slice img {
        width: 150%;
        max-width: 100%;
        margin-left: 29.5%;
    }

    .animPic.exhibition.first-slice img {
        width: 150%;
        max-width: 100%;
        margin-left: 3%;
    }

    .animPic.exhibition.last-slice img {
        width: 100%;
        max-width: 100%;
        margin-left: 40%;
        margin-top: -70%;
    }

    .recentEventText {
        border: 2px solid black;
        background-color: transparent;
        color: black;
        border-radius: 10px;
        padding: 15px;
        box-shadow: inset 5em 1em gold;
        line-height: 160%;
        font-size: 0.5em;
    }

    .page-container__section__item.animPic.exhibitionSlide {
        width: 900%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .page-container__section__item.animPic.exhibitionSlide img {
        width: calc(850% / nombre_d_images - 5px);
        height: auto;
        object-fit: contain;
    }

    .exhibitionSliderGallery-wrapper {
        display: flex;
        overflow: hidden;
        width: 850%;
        gap: 0.5%;

    }

    .art-caption.exhibition {
        font-size: 0.5em;
    }

    .last-slice .art-caption.exhibition {
        font-size: 0.5em;
        margin-bottom: 15%
    }

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}