@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=VT323&display=swap");


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/presentation.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    filter: brightness(0.8);
}

.louisDazy-container__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.louisDazy-container__section__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}