/* Base Styles */
.page-container.exhibition {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.presentationText.exhibition,
.presentationEnd.exhibition,
.recentEventText {
    text-align: justify;
    font-size: 0.5em;
    margin: 1em 0;
    padding: 0 5%;
    box-sizing: border-box;
    margin-top: -1%;
}

.recentEventText {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 15px;
}

.download-button {
    display: inline-block;
    padding: 10px 10px;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin-left: 10%;
}

.download-button:hover {
    background-color: black;
    color: white;
    transform: translateY(-5px);
}

.page-container__section.exhibition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
}

.page-container__section__item.exhibition {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}

.page-container__section__item.exhibition img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.animPic.exhibition img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20%;
}

.animPic.exhibition img:hover {
    transform: translateY(-10px);
    opacity: 0.8;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.animPic.exhibition.first-slice img {
    margin-left: 50%;
    margin-top: 20%;
}

.animPic.exhibition.last-slice img {
    margin-right: 50%;
    margin-top: 3%;
}

.exhibitionSliderGallery {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 1em 0;
}

.exhibitionSliderGallery-wrapper {
    display: flex;
    animation: scroll 60s linear infinite;
}

.exhibitionSlide img {
    flex-shrink: 0;
    width: 300px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
    object-fit: contain;
}

.exhibitionSlide:hover img {
    transform: translateY(-10px);
    opacity: 0.8;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
    border-radius: 10px;
}

.CollabTitle,
.CollabTitleRecentEvent {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}

.art-caption.exhibition {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    opacity: 0;
    max-width: 90%;
    text-align: center;
    border-radius: 5px;
    font-size: 0.5em;
    transition: opacity 0.3s ease;
}

.first-slice .art-caption.exhibition {
    bottom: 15%;
    text-align: center;
    left: 65%;
}

.last-slice .art-caption.exhibition {
    bottom: 20%;
    text-align: center;
    left: 25%
}


.animPic:hover .art-caption.exhibition {
    opacity: 1;
}

/* Media Queries */
@media (max-width: 1200px) {

    .CollabTitle,
    .CollabTitleRecentEvent {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .page-container__section.exhibition {
        flex-direction: column;
    }

    .presentationText.exhibition,
    .presentationEnd.exhibition,
    .recentEventText {
        font-size: 0.9em;
        padding: 0 3%;
    }

    .CollabTitle,
    .CollabTitleRecentEvent {
        font-size: 1em;
    }

    .exhibitionSlide {
        width: 200px;
    }
}

@media (max-width: 480px) {

    .presentationText.exhibition,
    .presentationEnd.exhibition,
    .recentEventText {
        font-size: 0.8em;
        padding: 0 2%;
    }

    .CollabTitle,
    .CollabTitleRecentEvent {
        font-size: 0.9em;
    }

    .exhibitionSlide {
        width: 150px;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}