.page-container.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-container__section.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.page-container__section.section--presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-container__section__item.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-container__section__item.presentation img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
  display: block;
}

.page-container__section__item.animPic.home {
  flex: 0 0 auto;
  width: 900px;
  height: 900px;
}

.page-container__section__item.home img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.animPic {
  position: relative;
}

.page-container__section__item.animPic.home img {
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 800px;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
}

.page-container__section__item.animPic.first-slice img,
.page-container__section__item.animPic.last-slice img {
  position: relative;
  margin-top: 5%;
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 5%;
}

.page-container__section__item.animPic.home img:hover {
  transform: translateY(-70px);
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.animPic:hover .art-caption.home {
  opacity: 1;
}

.page-container__section__item:hover .art-caption.home {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  font-size: 0.5em;
  text-align: center;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px;
}

.presentationText {
  text-align: justify;
  margin-left: -20%;
  margin-right: 20%;
  font-size: 0.5em;
  margin-top: -0.%;
}

.presentationEnd {
  text-align: justify;
  margin-right: -20%;
  margin-left: 20%;
  margin-top: 15%;
  font-size: 0.5em;
  margin-top: -0.%;
}

.art-caption.home {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  opacity: 0;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-radius: 10%;
}

.SomaTitle {
  margin-left: -119%;
  margin-top: 10%;
  font-size: 0.9em;
  font-weight: bold;
  max-width: 900%;
}

.homeSliderGallery {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.homeSliderGallery::before,
.homeSliderGallery::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 14.5%;
  background: linear-gradient(to right, white 0%, rgb(255, 255, 255) 4000%);
  filter: blur(40px);
  z-index: 1;
  margin-right: -3%;
  margin-left: -3%;
  margin-bottom: -10%;
}

.homeSliderGallery::after {
  right: 0;
  transform: rotate(180deg);
}

.homeSliderGallery-wrapper {
  display: flex;
  animation: scroll 60s linear infinite;
}

.homeSliderGallery-wrapper img {
  margin-top: 15%;
  max-width: 900%;
  max-height: 900%;
  object-fit: contain;
  box-sizing: content-box;
  border-radius: 10px;
}

.homeSlide {
  flex-shrink: 0;
  width: 300px;
  height: 400px;
  margin: 0 10px;
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1200px) {
  .SomaTitle {
    font-size: 2em;
    margin-top: 5%;
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .presentationText {
    margin-left: -10%;
    margin-right: 20%;
    font-size: 0.5em;
  }
}

@media (max-width: 768px) {
  .page-container__section {
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .page-container__section__item.presentation img {
    margin-top: 14%;
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .SomaTitle {
    font-size: 0.7em;
    margin-left: -55%;
    margin-top: 4%;
    max-width: 95%;
  }

  .art-caption.home {
    position: static;
    transform: none;
    opacity: 1;
    background-color: transparent;
    color: black;
    padding: 10px 0;
    white-space: normal;
    text-align: center;
    word-wrap: break-word;
    overflow: visible;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .presentationText {
    margin-left: 0;
    margin-right: 0;
    font-size: 0.5em;
    padding: 0 5%;
  }
}

@media (max-width: 1024px) {
  .presentationEnd {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .presentationEnd {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.5em;
  }
}

@media (max-width: 480px) {
  .page-container__section__item.presentation img {
    max-width: 100%;
    margin: 60px;
  }

  .page-container__section__item.animPic.first-slice img,
  .page-container__section__item.animPic.last-slice img {
    width: 280px;
    height: 280px;
    margin: 10px 0;
    padding-top: -10%;
  }

  .presentationText,
  .presentationEnd {
    margin: 0px 5% !important;
    font-size: 0.5em;
    width: 90%;
    padding: 0 5%;
  }


  .page-container__section__item.animPic.home {
    width: 90%;
    height: auto;
    margin: 0;
  }

  .page-container__section__item.animPic.home img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .SomaTitle {
    margin-left: 0 !important;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin-top: -30%;
  }

  .contact-button {
    position: relative;
    z-index: 990;
    margin-top: 50px;
  }

  .page-container__section.home {
    flex-direction: column;
    align-items: center;
  }

  .page-container__section__item.animPic.home img:hover {
    transform: none;
    opacity: 1;
  }

  .page-container__section__item.animPic.homeSlide {
    width: 900%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-container__section__item.animPic.homeSlide img {
    width: 850%;
    height: auto;
    object-fit: contain;
  }

  .homeSliderGallery-wrapper {
    display: flex;
    overflow: hidden;
    width: 850%;
  }

  .art-caption.home {
    font-size: 0.5em;
    padding-bottom: 35%;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .page-container.home {
    padding-top: 80px;
  }

  .page-container__section__item.animPic.home {
    width: 700px;
    height: 700px;
    margin: 2% auto;
  }

  .page-container__section__item.animPic.home img {
    width: 650px;
    height: 600px;
  }

  .presentationText,
  .presentationEnd {
    margin: 0 15% !important;
    font-size: 0.5em;
  }

  .homeSliderGallery::before,
  .homeSliderGallery::after {
    width: 12%;
    filter: blur(30px);
  }

  .homeSlide {
    width: 280px;
    height: 380px;
    margin: 0 15px;
  }

  .SomaTitle {
    font-size: 1.5em;
    margin: 5% 0;
    text-align: center;
  }

  .page-container__section__item.animPic.first-slice img,
  .page-container__section__item.animPic.last-slice img {
    width: 300px;
    height: 300px;
    margin: 20% 0;
  }

  .presentationText {
    margin-left: 0;
    margin-right: 0;
    font-size: 0.5em;
    padding: 2 5%;
  }

  .presentationEnd {
    margin-left: 0;
    margin-right: 0;
    font-size: 0.5em;
    padding: 7 5%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .page-container.home {
    padding-top: 70px;
  }

  .page-container__section__item.animPic.home {
    width: 600px;
    height: 600px;
  }

  .presentationText,
  .presentationEnd {
    margin: 0 20% !important;
    font-size: 0.5em;
  }

  .presentationEnd {
    padding-top: 23%;
  }

  .SomaTitle {
    font-size: 1.2em;
    margin: 5% 0;
    text-align: center;
  }

  .homeSlide {
    width: 250px;
    height: 350px;
  }

  .homeSliderGallery-wrapper {
    animation-duration: 75s;
  }

  .page-container__section__item.animPic.first-slice img,
  .page-container__section__item.animPic.last-slice img {
    width: 300px;
    height: 300px;
    margin: 20% 0;
  }
}