.page-container.artist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.presentation {
  margin-top: 4%;
}

.page-container__section.artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.page-container__section__item.artist {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.artistSliderGallery {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-right: 10%;
  padding-right: 25%;
  margin-top: -4%;
}

.socials {
  font-size: 5em;
  justify-items: center;
  font-family: "Orbitron", sans-serif;
}

.artistSliderGallery::before,
.artistSliderGallery::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  background:  linear-gradient(to right, white 0%, rgb(255,255,255)  4000%);
  filter: blur(40px);
  z-index: 1;
  margin-right: -5%;
  margin-left: -5%;
  margin-bottom: -15%
}

.artistSliderGallery::after {
  right: 0;
  transform: rotate(180deg);
}

.artistSliderGallery-wrapper {
  margin-top: 20%;
  display: flex;
  animation: scroll 60s linear infinite;
}

.artistSliderGallery-wrapper img {
  margin-top: 15%;
  max-width: 700%;
  max-height: 700%;
  object-fit: contain;
  box-sizing: content-box;
  border-radius: 10px;
}

.artistSlide {
  flex-shrink: 0;
  width: 1000px;
  height: 2050px;
  margin: 0 10px;
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


.artistSliderGallery-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


.oelhan-image {
  max-width: 25%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.animator {
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
  color: black;
  text-align: justify;
  margin: 0 auto;
  font-weight: bold;
  margin-left: 30%;
  margin-bottom: 5px;
}

.title.artist {
  font-size: 1.5em;
  font-family: "Orbitron", sans-serif;
  margin-left: 30%;
  margin-top: 0;
  margin-bottom: 10px;
}

.art-caption.artist {
  position: absolute;
  top: 63%; 
  left: 5%;
  transform: translateX(-50%, -50%);
  font-size: 0.5em; 
  text-align: center;
  word-wrap: break-word;
  background-color: rgba(244, 237, 222, 0.8);
  padding: 0.1em 0.2em;
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  word-wrap: break-word;
  white-space: normal; 
}


.artist-container__section__item:hover .art-caption.artist {
  opacity: 1;
  transform: translateY(0);
  border-radius: 10px;
}


@media (max-width: 768px) {
  .artist-container__section {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .oelhan-image {
    max-width: 80%;
  }

  .art-caption.artist {
    font-size: 1em;
  }
}