.header {
    font-family: "Futura Condensed", sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    font-size: 35px;
    z-index: 1000; 
}


.menu-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.menu-list {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 0;
    background-color: #f4EDDE;
    z-index: 1000;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 40px;
}

.menu-item:hover {
    background-color: yellow;
    border-radius: translateX(5px);
}

.sub-menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:  #f4EDDE;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 35px;
}

.sub-menu-item:hover {
    background-color: yellow;
    border-radius: 5px;
}
