/* src/components/Header.css */

.header {
    font-family: 'Futura Condensed', sans-serif;
    display: flex;
    align-items: center;
    padding: 20px; 
    position: relative;
    font-size: 25px;
}

.menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 40px;
    height: 40px;
}

.menu-list {
    list-style-type: none; 
    padding: 10px;
    margin: 20px;
    position: absolute;
    top: 70%; 
    left: 0;
    z-index: 1;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

.menu-item:hover {
    background-color: yellow; 
    border-radius: 5px;
}

.sub-menu-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    position: absolute; 
    background-color: white; 
    left: 0; 
    z-index: 2; 
}

.sub-menu-item {
    padding: 5px 10px; 
    cursor: pointer; 
    font-size: 25px; 
}

.sub-menu-item:last-child {
    border-bottom: none; 
}

.sub-menu-item:hover {
    background-color: yellow; 
}

.artists-names {
    position: absolute;
    right: -10px;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: white;
    padding: 10px;
    z-index: 2; 
    display: flex; 
    flex-direction: column; 
}
