.louisDazy-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 15rem; */
}

.louisDazy-container__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.louisDazy-container__section__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.louisDazy-container__section__item.animPic {
  position: relative;
  overflow: hidden;
}

.louisDazy-container__section__item.animPic img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.louisDazy-container__section__item.animPic img:hover {
  transform: translateY(-10px);
  opacity: 0.8;
}

.louisDazy-container__section__item:hover .art-caption {
  opacity: 1;
  transform: translateY(0);
}

.louisDazy-container__section__item img {
  width: 100%;
  height: auto;
}

.lukas-image {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.painter {
  font-family: "Orbitron", sans-serif;
  font-size: 1.8em;
  color: black;
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
}

.louisDazyPresentation {
  font-family: "Futura Condensed", sans-serif;
  font-size: 1em;
  color: black;
  text-align: left;
}

.art-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    font-size: 1.2em;
    color: black;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  
}

@media (max-width: 768px) {
  .louisDazy-container__section {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
}